<!DOCTYPE html>
<html lang="" ng-app="<%= ngModuleName%>Demo">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@<%= githubUsername %>">
        <meta name="twitter:title" content="<%= ngModuleName%>">
        <meta name="twitter:description" content="<%%= description %>">
        <meta name="twitter:creator" content="@<%= githubUsername %>">
        <!--<meta name="twitter:image:src" content="">-->
        <meta property="og:title" content="<%= ngModuleName%>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://<%= githubUsername %>.github.io/<%= projectName %>" />
        <!--<meta property="og:image" content="" />-->
        <meta property="og:description" content="<%%= description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= ngModuleName%> Directive Demo</title>

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- compiled CSS --><%% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%%= file %>" />
        <%% }); %>
        <!-- compiled JavaScript --><%% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%%= file %>"></script><%% }); %>

        <%% lr.forEach( function ( file ) { %>
        <!-- liveReload -->
        <script type="text/javascript" src="<%%= file %>"></script><%% }); %>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="navbar-inner">
	        <div class="container">
	          <div class="navbar-header">
	          </div>
	          <ul class="nav navbar-nav">
	            <li>
	              <a href="#" class="navbar-brand"><%= ngModuleName%></a>
	                <small>
		              <a href="http://github.com/<%= githubUsername %>/<%= projectName %>/blob/v<%%= version %>/CHANGELOG.md">
		                v<%%= version %>
		              </a>
		            </small>
	            </li>
	          </ul>
	        </div>
	      </div>
		</nav>

		<header>
			<div class="jumbotron">
				<div class="container">
					<h1><%= ngModuleName%></h1>
					<p><%%= description %>
					</p>
				    <p>
				    	<a class="btn btn-outline-inverse btn-lg" href="https://<%= ngDirectiveName %>.org">
				    		<i class="fa fa-info fa-lg"></i> Learn More
				    	</a>
						<a class="btn btn-outline-inverse btn-lg" href="https://github.com/<%= githubUsername %>/<%= projectName %>">
							<i class="fa fa-github fa-lg"></i> Code on Github
						</a>
						<a class="btn btn-outline-inverse btn-lg" href="https://github.com/<%= githubUsername %>/<%= projectName %>/releases/tag/v<%%= version %>">
							<i class="fa fa-download fa-lg"></i> Download <small>(<%%= version %>)</small>
						</a>
				    </p>
				</div>
			</div>
		</header>

		<section id="minimal_code" >
			<div class="container">
				<div class="row">
				    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>Minimal code</h1>        
		            </div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
						<p>Simplest usage possible! Just add the directive in your html page.</p>						
						
						<<%= ngDirectiveName %>></<%= ngDirectiveName %>>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right" ng-controller="PlunkerCtrl"
		                 ng-init="vendor_js=['https://rawgit.com/<%= githubUsername %>/<%= projectName %>/master/src/<%= projectName %>.js'];" >
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('<%= angularVersion %>', '<%= ngModuleName%>', '<%= projectName %>')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;<%= ngDirectiveName %>&gt;&lt;/<%= ngDirectiveName %>&gt;
		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
				</div>
			</div>
		</section>

		<section id="with_attrs_options">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>With Options</h1>        
		            </div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
						<p>A little more complete usage, with some options given via <b>hardcoded values</b>.</p>						

						<<%= ngDirectiveName %> 
							option1="value1" 
							option2="value2">
						</<%= ngDirectiveName %>>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right" ng-controller="PlunkerCtrl" 
						ng-init="vendor_js=['https://rawgit.com/<%= githubUsername %>/<%= projectName %>/master/src/<%= projectName %>.js'];">
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('<%= angularVersion %>', '<%= ngModuleName%>', '<%= projectName %>')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;<%= ngDirectiveName %>  
   option1="value1"
   option2="value2"&gt;
&lt;/<%= ngDirectiveName %>&gt;
		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 callout callout-info">
		                <p>The following options are available:</p>
		                <ul>
							<li><b>option1</b> : description1</li>
							<li><b>option2</b> : description2</li>
							<li><b>...</b> : ...
		                </ul>    
		            </div>
				</div>
			</div>
		</section>
		<section id="with_scope_options">
			<div class="container">
				<div class="row">
		
		            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left" ng-controller="MyCtrl">
						<p>Another usage, with some options given via <b>scope values</b>.</p>						

						<<%= ngDirectiveName %> 
							option1="options.value1" 
							option2="options.value2">
						</<%= ngDirectiveName %>>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right" ng-controller="PlunkerCtrl" 
						ng-init="vendor_js=['https://rawgit.com/<%= githubUsername %>/<%= projectName %>/master/src/<%= projectName %>.js'];">
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('<%= angularVersion %>', '<%= ngModuleName%>', '<%= projectName %>')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;div  ng-controller="MyCtrl"&gt;
   &lt;<%= ngDirectiveName %>
    option1="option1" 
    option2="option2"    
   &lt;/<%= ngDirectiveName %>&gt;
&lt;/div&gt;
		                      </pre>
		                  </div>
		                </tab>
		            	<tab heading="Javascript">
		                  <div plunker-content="javascript">
		                      <pre class="prettyprint">
angular.module('<%= ngModuleName %>Demo').controller('MyCtrl', ['$scope',  function ($scope) {
  $scope.options = {};
  $scope.options.option1 = "value1";			
  $scope.options.option2 = "value2";

}]);

		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
				</div>
			</div>
		</section>

		<section id="css_customization">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>CSS Customization</h1>      
		            </div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p>You can change how <%= ngDirectiveName %> appears in the browser by overriding the CSS rules.</p>					
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="PlunkerCtrl" 
						ng-init="vendor_js=['https://rawgit.com/<%= githubUsername %>/<%= projectName %>/master/src/<%= projectName %>.js'];">
						<div class="pull-right">
							<button class="btn btn-info" ng-click="edit('<%= angularVersion %>', '<%= ngModuleName%>', '<%= projectName %>')">
							  	<i class="fa fa-eye"></i> See / 
			                	<i class="fa fa-edit"></i> Edit in plunker
							</button>
						</div>
						<tabset>
							<tab heading="Markup">
			                  <div plunker-content="markup">
			                      <pre class="prettyprint">
&lt;<%= ngDirectiveName %> option1="value1"&gt;&lt;/<%= ngDirectiveName %>&gt;
			                      </pre>
			                  </div>
			                </tab>
			                <tab heading="CSS" selected="true">
			                  <div plunker-content="css">
			                    <pre class="prettyprint">
<%= ngModuleName%> {

}
			                    </pre>
			                  </div>
			                </tab>
			              </tabset>						
					</div>
				</div>
			</div>
		</section>

		<footer class="footer" role="footer" >
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <ul class="links">
                      <li><a href="https://github.com/<%= githubUsername %>/<%= projectName %>/blob/master/LICENSE " target="_blank">MIT License</a></li>
                      <li><a href="https://github.com/<%= githubUsername %>/<%= projectName %>/issues?state=open"    target="_blank">Open Issues</a></li>
                  </ul> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <p class="designed-and-coded">Designed and Coded with <i class="fa fa-heart heart"></i> by <a href="https://github.com/<%= githubUsername %>" target="_blank"><%= authorName %></a></p>                  
                </div>
              </div>
            </div>
        </footer>
	</body>
</html>